#body {
    height: 100%;
    margin: 0;
    font-size: 16px;
}
h1{
    color: #022B3A;
    font-size: 28px;
}
#imgbanner{
    max-width: 100%;
    height: auto;
}
section{
    text-align: center;
    padding: 20px;
}